In [3]:
file=open('data/emp12.csv','r')
file

In [14]:
file=open('data/emp12.csv','r')

for i in file:
    row=i.split(',')
    salary=int(row[5])
    print('total salary for ' +row[1]+' is '+str(salary))
    
    DA=salary*0.25
    print('DA is...'+str(DA))
    
    tz=salary*0.15
    print('TZ is...'+str(tz))
    
    HRA=salary*0.16
    print('HRA is...'+str(HRA))
    
    CCA=salary*0.02
    print('CCA is...'+str(CCA))
    
    LIC=salary*0.05
    print('LIC is...'+str(LIC))
    
    MA=salary*0.05
    print('MA is...'+str(MA))
    
    net_sal=DA+MA+CCA+LIC+HRA+tz
    print('net salary for .....'+row[1]+ ' is '+str(net_sal))
    print('*'*15*3)

total salary for Sheethal is 25000
DA is...6250.0
TZ is...3750.0
HRA is...4000.0
CCA is...500.0
LIC is...1250.0
MA is...1250.0
net salary for .....Sheethal is 17000.0
*********************************************
total salary for Sonu is 28000
DA is...7000.0
TZ is...4200.0
HRA is...4480.0
CCA is...560.0
LIC is...1400.0
MA is...1400.0
net salary for .....Sonu is 19040.0
*********************************************
total salary for Sandeep is 100000
DA is...25000.0
TZ is...15000.0
HRA is...16000.0
CCA is...2000.0
LIC is...5000.0
MA is...5000.0
net salary for .....Sandeep is 68000.0
*********************************************
total salary for Manoj is 65000
DA is...16250.0
TZ is...9750.0
HRA is...10400.0
CCA is...1300.0
LIC is...3250.0
MA is...3250.0
net salary for .....Manoj is 44200.0
*********************************************
total salary for Prasanna is 15000
DA is...3750.0
TZ is...2250.0
HRA is...2400.0
CCA is...300.0
LIC is...750.0
MA is...750.0
net salary for .....Prasanna is 10200.0
*********************************************
total salary for Priyanka is 20000
DA is...5000.0
TZ is...3000.0
HRA is...3200.0
CCA is...400.0
LIC is...1000.0
MA is...1000.0
net salary for .....Priyanka is 13600.0
*********************************************
total salary for Shravanthi is 28000
DA is...7000.0
TZ is...4200.0
HRA is...4480.0
CCA is...560.0
LIC is...1400.0
MA is...1400.0
net salary for .....Shravanthi is 19040.0
*********************************************
total salary for Yamini is 19000
DA is...4750.0
TZ is...2850.0
HRA is...3040.0
CCA is...380.0
LIC is...950.0
MA is...950.0
net salary for .....Yamini is 12920.0
*********************************************
total salary for Chaitanya is 25000
DA is...6250.0
TZ is...3750.0
HRA is...4000.0
CCA is...500.0
LIC is...1250.0
MA is...1250.0
net salary for .....Chaitanya is 17000.0
*********************************************
total salary for Leela Krishna is 26000
DA is...6500.0
TZ is...3900.0
HRA is...4160.0
CCA is...520.0
LIC is...1300.0
MA is...1300.0
net salary for .....Leela Krishna is 17680.0
*********************************************
total salary for Mahender is 60000
DA is...15000.0
TZ is...9000.0
HRA is...9600.0
CCA is...1200.0
LIC is...3000.0
MA is...3000.0
net salary for .....Mahender is 40800.0
*********************************************
total salary for Yelishetty Shankar is 100000
DA is...25000.0
TZ is...15000.0
HRA is...16000.0
CCA is...2000.0
LIC is...5000.0
MA is...5000.0
net salary for .....Yelishetty Shankar is 68000.0
*********************************************
total salary for Swapna is 23000
DA is...5750.0
TZ is...3450.0
HRA is...3680.0
CCA is...460.0
LIC is...1150.0
MA is...1150.0
net salary for .....Swapna is 15640.0
*********************************************
total salary for Nikhil is 25000
DA is...6250.0
TZ is...3750.0
HRA is...4000.0
CCA is...500.0
LIC is...1250.0
MA is...1250.0
net salary for .....Nikhil is 17000.0
*********************************************
total salary for Sai Kumar is 30000
DA is...7500.0
TZ is...4500.0
HRA is...4800.0
CCA is...600.0
LIC is...1500.0
MA is...1500.0
net salary for .....Sai Kumar is 20400.0
*********************************************

In [15]:
salary

30000